.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination__button {
  background-color: #f2f2f2;
  border: none;
  color: #000000be;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination__button:hover {
  background-color: #ddd;
  color: #000000;
}

.pagination__button:active {
  background-color: #000000;
  color: white;
}

.pagination__button:focus {
  outline: none;
}

.pagination__button:first-child {
  margin-left: 0;
}

.pagination__button:last-child {
  margin-right: 0;
}
