.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 30PX;
}

.register-container .header {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.register-container .register-form-wrapper {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background: #00000087;
}

.register-container form {
  display: flex;
  /* width: 600px; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-container .divider {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  color: rgba(255, 255, 255, 0.572);
}

.register-container .input-label {
  font-size: 16px;
  font-weight: 500;
  color: rgb(219, 219, 219);
  width: 100%;
  padding-bottom: 10px;
}

.register-container .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.register-container input[type="text"],
.register-container input[type="password"],
.register-container input[type="email"],
.register-container input[type="number"],
.register-container input[type="date"] {
  width: 300px;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #cccccc2f;
  border-radius: 30px;
}

.register-container span {
  color: red;
}
.row {
  display: flex;
}
.register-container button[type="submit"] {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #ff6f00;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-container button[type="submit"]:hover {
  background-color: #000000;
  color: white;
  margin-top: 22px;
  margin-bottom: 3px;
  width: 190px;
  height: 35px;
}
.login-link-wrapper{
  padding-top: 10px;;
}
.register-container .login-link-wrapper {
  margin-top: 0px;
}

.register-container .login-link-wrapper a {
  color: white;
}

.register-container .form-wrapper {
  display: flex;
  justify-content: space-between;
}

.register-container .form-column {
  flex-direction: column;
  margin-right: 20px;
}

.register-container .form-row {
  margin-bottom: 10px;
}

.register-container .register-button-wrapper {
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
