/* .slideshow {
    width: 1200px;
    height: 800px;
    overflow: hidden;
  }
  
  .slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */


  .slideshow {
    border-radius: 7px;
    position: relative;
    width: 500px;
    height: 700px;
    overflow: hidden;
  }
  
  .slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .manual-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .manual-controls button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #555;
    padding: 5px;
    margin: 0 5px;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .manual-controls button.active {
    color: #000;
    font-weight: bold;
  }
  .manual-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    z-index: 1;
  }
  .prev-button,
.next-button {
  /* Existing styles */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;
}